<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros - Papin Pizzas - Comida hecha como en casa</title>
	<link rel="shortcut icon" href="../img/favicon2.ico">
	<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<header id="header">
		<div class="container2">
			<div id="portadapapin-nosotros">
				<nav id="mainNav" class="botonera">
						<a href="../index.html">
						<img src="../img/logo.svg" alt="logo de Papin Pizzas - Comer como en casa">
						</a>
					<ul>
						<li class="naview">
							<a class="naview" href="../index.html">HOME</a>
						</li>
						<li class="naview">
							<a class="naview" href="../views/nosotros.html">NOSOTROS</a>
						</li>
						<li class="naview">
							<a class="naview" href="../views/menu.html">MENU</a>
						</li>
						<li class="naview">
							<a class="naview" href="../views/galeria.html">GALERIA</a>
						</li>
						<li class="naview">
							<a class="naview" href="../views/contacto.html">CONTACTO</a>
						</li>
					</ul>
				</nav>
					<img src="../img/header4.png" alt="Porciones de pizzas sobre mantel y fondo color negro" class="imgheader">
				<p class="titulonosotros">CONOCENOS UN POCO MAS</p>
			</div>
		</div>
	</header>
	<main class="nosotos" id="nosotros">
		<div id="nosotros_img">
			<img src="../img/nosotros.png" alt="Hamburguesa al pan" id="nosotrosfoto">
		</div>
		<div id="nosotros_texto">
			<h2>PAPIN PIZZAS </h2>
			<h2>COCINA HECHA COMO EN CASA</h2>
			<p>No somos antiguos como la recetas originales de las comidas mas sabrosas, pero nuestro restaurante tiene su propia línea de tiempo que se extiende considerablemente... Fundado hace no mas de 10 años, el restaurante Papin Pizzas es el restaurante de hamburguesas y pizzas mas sabroso que jamas hayas probado. ¡Nos hicimos una promesa entre todos los trabajadores, todas nuestras comidas deben ser deliciosas y tradicionales tal y cual es una comida hecha en casa!
			</p>
		</div>
	</main>
	<footer class="pie-pagina" id="pie">
		<div class="logo_footer">
			<div class="box1">
				<a href="index.html">
				<img src="../img/logo.png" alt="logo de Papin Pizzas - Comer como en casa" class="logo_index" id="logo">
				</a>
			</div>
			<div class="box" class="contacto-papin">
				<h2 id="text-center">CONTACTO</h2>
				<ul class="text-left">
					<li>
						<h3>Direccion:</h3>
						<p>Joanico 3332</p>
					</li>
					<li>
						<h3>Telefono:</h3>
						<p>24800409</p>
					</li>
					<li>
						<h3>Celular:</h3>
						<p>093997007</p>
					</li>
				</ul>	
			</div>
			<div class="box">
				<div class="redes-pedido">
					<h2 class="text-center">HACE TUS PEDIDOS</h2>
					<a href="https://www.pedidosya.com.uy/restaurantes/montevideo/papin-pizzas-menu" target="'_blank'">
					<img src="../img/pedidoya.png" alt="Logo de pedido ya y enlace al mismo">
					</a>
					<a href="https://www.rappi.com.uy/" target="'_blank'">
					<img src="../img/rappi.png" alt="Logo de rappi y enlace al mismo">
					</a>
				</div>
			</div>
			<div class="box">
				<h2 class="text-center">SEGUINOS EN REDES</h2>
					<div class="red-social">
						<ul class="sociales">
							<li>
								<a href="https://www.facebook.com/Papin-Pizzas-145297070652330/" target="'_blank'" class="facebook">
								<img src="../img/facebook.png" alt="Logo de Facebook y enlace al mismo" >
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com" target="'_blank'" class="twitter">
								<img src="../img/twitter.png" alt="Logo de twitter y enlace al mismo" >	
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/papinpizzas/?hl=es" target="'_blank'"  class="instagram">
								<img src="../img/instagram.png" alt="Logo de instagram y enlace al mismo ">
								</a>
							</li>
							<li>
								<a href="https://api.whatsapp.com/send?phone=0123456789" target="'_blank'" class="whatsapp">
								<img src="../img/whatsapp.png" alt="Logo de whatsapp y enlace a whatsapp web" >
								</a>
							</li>
						</ul>
					</div>
			</div>
</footer>
</body>
</html>